[Unit]
Description=RClone Jekyll
AssertPathIsDirectory=/mnt/jekyll
Wants=network-online.target
After=network-online.target
 
[Service]
Type=simple
Environment=RCLONE_CONFIG=/root/.config/rclone/rclone.conf

ExecStart=/usr/bin/rclone mount jekyll: /mnt/jeykll --cache-dir /var/cache/rclone-jekyll --vfs-cache-max-age 25h0m0s --vfs-cache-mode full --vfs-cache-poll-interval 55m0s --vfs-cache-max-size 5G --allow-other

ExecStop=/usr/bin/fusermount -u /mnt/jekyll
Restart=always
RestartSec=4
 
[Install]
WantedBy=default.target
